/* 枠 */
.collage {
    position: relative;
    z-index: 1;
    display: grid;
    gap: 1.4vh;
    aspect-ratio: 3 / 4;
    padding: 0;
    border-radius: 1vh;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.frameBorder {
    padding: 1.4vh;
}

/* 背景色 */
.white {
    background-color: #fefefe;
}

.black {
    background-color: rgb(19, 19, 19);
    color: #fefefe;
}

.blue {
    /* background-color: #0c59c4; */
    background-image: url('../../assets/image/frameColor/blue.jpeg');
    color: #fefefe;
}

.white2p {
    background-image: url('../../assets/image/frameColor/white.jpeg');
}

.black2p {
    background-image: url('../../assets/image/frameColor/black.jpeg');
    color: #fefefe;
}

/* 枚数別レイアウト */
.twoImages {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.threeImages {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "top top"
        "bottom-L bottom-R";    
}

.threeImages > :nth-child(1) { grid-area: top; }
.threeImages > :nth-child(2) { grid-area: bottom-L; }
.threeImages > :nth-child(3) { grid-area: bottom-R; }

.fourImages {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* 画像エリア */
.imageContainer {
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    background-color: #eee9e6;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.image {
    transition: transform 0.3s ease;
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

/* タイトルエリア */
.overlay {
    position: absolute;
    aspect-ratio: 1;
    width: 40%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    border-radius: 100px;
    display: flex;
    justify-items: center;
    text-align: center;
    align-items: center;
    z-index: 1000;
}

.hiddenTitle {
    display: none;
}

.texts {
    height: 60%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.title, .date {
    width: auto; 
    margin: 0;
}

.title {
    font-size: 1.5vh;
    margin-bottom: 1px;
}

.date {
    font-size: 1.3vh;
}