/* コラージュ部分 */
.collagePage {
    position: relative;
    margin: 0;
    align-items: center;
    text-align: center;
}

.frameArea{
    height: 45vh;
    aspect-ratio: 3 / 4;
    background-color: rgba(222, 222, 222, 0.68);
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
}

/* 画像部分 */
.imagesArea{
    height: 25vh;
    width: 80%;
    background-color: rgba(222, 222, 222, 0.68);
    margin: 20px auto;
    padding: 0 20px;
    overflow: hidden;
    border-radius: 8px;
}

.imagesArray {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: scroll;
}

/* 画像 */
.imageContainer {
    flex: 0 0 auto;
    position: relative;
    max-height: 80%;
    min-height: 30%;
    max-width: 80%;
    min-width: 30%;
    aspect-ratio: 1;
    margin: 0;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.image{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    cursor:-moz-grab;
    cursor:-webkit-grab;
    cursor: grab;
}

.image:active {
    cursor:-moz-grabbing;
    cursor:-webkit-grabbing;
    cursor: grabbing;
}

.dragging {
    opacity: 0.3;
}

.completionButton {
    width: 30%;
    margin: 0 auto;
}

#target-to-image {
    border-radius: 1vh;
}

.complet-modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100vh;
    width: 100%;
    background-color: rgba(55, 55, 56, 0.799);
}

.image-button-container {
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: auto;
    height: auto;
    width: 80%;
}

.collage-image {
    width: 100%;
    aspect-ratio: 3/4;
    border-radius: 1.7vh;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-modal {
    width: 48%;
}

.edit-button {
    font-size: small;
}