.coordinate {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25%;
}

h2 {
    font-size: larger;
    text-align: center;
    color: antiquewhite;
    margin: 8%;
}

.white-box {
    background-color: white;
    border-radius: 10px;
    width: 340px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    user-select: none;
}
.image {
    width: 100%;        /* 画像の幅を白いボックスの幅に合わせる */
    height: auto;       /* 高さを自動調整してアスペクト比を維持する */
    max-width: 80%;     /* 最大幅を90%に制限して、白いボックス内に余白を作る */
    max-height: 80%;    /* 最大高さを90%に制限して、ボックス内に収める */
    object-fit: contain; /* 画像のアスペクト比を維持しながら白いボックスに収める */
}

.image-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%; /* 親要素の幅を100%にしても問題ありません */
}

.image-button {
    width: 150px; /* ボタンの横幅を150pxに固定 */
    height: 50px; /* ボタンの高さを指定 */
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex-shrink: 0; /* 幅が縮小しないように設定 */
    flex-grow: 0; /* 幅が成長しないように設定 */
    box-sizing: border-box; /* パディングとボーダーを含めてサイズを計算 */
}
.nopointer {
    user-select: none;
  }