.all-contain {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 2%;
  width: 80%;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #fff;
  margin: 5%;
}

.view-items-container {
  display: block;
  height: auto;
}

.back-image-box {
  background-color: rgba(255, 255, 255, 0.433);
  border-radius: 10px;
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  user-select: none;
}

.collaged-image {
  width: 80%;
  aspect-ratio: 3/4;
  border-radius: 1vh;
  object-fit: cover;
  user-select: none;
  overflow: hidden;
}

.image-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  width: 100%;
}

/* 矢印ボタン */
.left-arrow, .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.left-arrow {
  left: -9px; /* 左端にさらに近づける */
}

.right-arrow {
  right: -9px; /* 右端にさらに近づける */
}

.left-arrow img, .right-arrow img {
  width: 30px; /* 矢印画像の大きさ */
  height: 30px;
}

.left-arrow:hover img, .right-arrow:hover img {
  opacity: 0.5; /* ホバー時に少し薄くなる */
}

/* インジケーター */
.indicators {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: 18px;
}

.indicators-span {
  cursor: pointer;
  margin: 0 0.8vw;
  color: #d0d0d063;
}

.indicators .active {
  color: #ffffff;
}