.gamestart {
  height: 100vh;
  text-align: center;
}

.gamestart h2 {
  color: #fff;
  padding-top: 75px;
  padding-bottom: 20px;
}

.gamestart h3 {
  color: #fff;
  padding-top: 75px;
  padding-bottom: 20px;
}

.gamestart input {
  margin: 0 auto;
  height: 40px;
  width: 300px;
  border-radius: 6px;
  border: none;
  padding: 5px 10px;
  text-align: center;
}

/* アップロードコンポーネント全体のスタイル */
.image-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

/* input[type="file"] を非表示 */
.file-input {
  display: none;
}

/* カスタムアップロードボタンとして画像を使用 */
.file-label {
  cursor: pointer;
  display: inline-block;
  width: 300px; /* 横幅を固定 */
  height: 130px;
  padding: 20px;
  border: 2px solid #ebf0f3;
  border-radius: 10px;
  transition: border-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.file-label:hover {
  border-color: #2980b9;
}

.upload-image {
  max-width: 100%; /* ボックス内で画像の幅をフィットさせる */
  max-height: 100%; /* ボックス内で画像の高さをフィットさせる */
  width: auto; /* 幅の自動調整 */
  height: auto; /* 高さの自動調整 */
  object-fit: cover; /* ボックス内に収める際、画像のアスペクト比を維持してクロップする */
}

/* プレビュー画像コンテナのスタイル */
.preview-container {
  margin-top: 20px;
}

.preview-image {
  width: 50px; /* 画像の横幅を指定 */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.text-base.select {
  white-space: nowrap; /* 改行を防ぐ */
  display: block; /* 必要に応じて、displayプロパティを調整 */
  text-align: center; /* 中央揃えにする場合 */
  width: 100%; /* 幅を調整する */
  font-size: 20px;
}

.error-message {
  color: red; /* テキストカラーを赤にして注意喚起 */
  font-size: 1rem; /* 適切なサイズ */
  margin-bottom: 1rem; /* メッセージの下に余白を追加 */
  padding: 0.5rem; /* メッセージ周囲に余白を追加 */
  border: 1px solid red; /* 赤い枠線で囲む */
  background-color: #ffe6e6; /* 背景を薄い赤に設定 */
  border-radius: 4px; /* ボーダーに角丸をつける */
  text-align: center; /* テキストを中央揃えにする */
}

/* 画像コンテナを左右に分ける */
.image-default {
  width: 150px; /* デフォルト画像の幅を指定 */
  height: auto; /* 高さは画像の比率に応じて自動調整 */
  display: block;
  margin: 0 auto; /* 中央に配置 */
  border-radius: 10px; /* 角を丸くする */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 影をつける */
}

/* 左側に表示される画像のスタイル */
.image-left {
  width: 40%; /* 幅を40%に制限 */
  max-width: 150px; /* 画像の最大幅 */
  max-height: 150px; /* 画像の最大高さを制限 */
  object-fit: cover; /* アスペクト比を維持しながら、ボックス内に収める */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 10px; /* 左右の画像の間に余白を追加 */
}

/* 右側に表示される画像のスタイル */
.image-right {
  width: 40%; /* 幅を40%に制限 */
  max-width: 150px; /* 画像の最大幅 */
  max-height: 150px; /* 画像の最大高さを制限 */
  object-fit: cover; /* アスペクト比を維持しながら、ボックス内に収める */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 10px; /* 左右の画像の間に余白を追加 */
}

/* 画像を2つ並べるコンテナ */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* 左右の画像間にスペースを追加 */
}

/* メモリバー */

.progress-container {
  margin: 10px 0;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
