.loginpage {
  background-image: url("/src/assets/image/toppage-background.jpeg");
  height: 100vh;
  width: 414px;
  margin: 0 auto;
  background-size: cover;
}

.error-message {
  color: #ffffff;
  font-size: 18px;
}

.title {
  font-size: 42px;
  font-weight: bold;
  text-shadow: 21px 1px 2px #020031;
  background: linear-gradient(to bottom, #000000, #808080);
  text-shadow: 0 0 10px #ffffff, 0 0 1px #ffffff, 0 0 2px #04173b,
    0 0 4px #03112d, 0 0 4px #719df6, 0 0 5px #719df6, 0 0 6px #719df6;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 800;
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
}

.login {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
}
