.shooting-container {
  height: 100vh;
  text-align: center;
  align-items: center;
}

.shooting-container h2 {
  padding-top: 15px;
  padding-bottom: 5px;
}

.shooting-container p {
  color: #fff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #82b4ff;
  text-shadow: 0 0 10px #ffffff, 0 0 1px #ffffff, 0 0 2px #04173b,
    0 0 4px #03112d, 0 0 4px #719df6, 0 0 5px #719df6, 0 0 6px #719df6;
}

.target-container {
  background-color: #fff;
  height: 570px;
  margin: 15px 25px;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.target-container img {
  margin: 0 30px;
  width: 100px;
  height: auto;
  object-fit: cover;
  cursor: url("/src/assets/image/focus.cur"), auto;
}

.click-target {
  width: 300px;
  height: 450px;
  background-image: linear-gradient(
    0deg,
    rgba(221, 219, 255, 1),
    rgba(85, 80, 172, 1)
  );
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  animation: expand 1s ease-out forwards;
  padding: 20px 10px;
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: center;
  align-items: center;
}

.click-target img {
  margin: 20px auto;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  width: 90%;
  height: 50%;
}

@keyframes expand {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes shrink {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}

.click-target.closing {
  animation: shrink 1s ease-out forwards;
}
