/* WaitRoomのスタイル */
.waitroom h2 {
  padding-top: 55px;
}

.spinner-container {
  margin: 30px auto;
}

.waitroom h3 {
  padding: 0;
  padding-bottom: 10px;
  color: #fff;
  text-align: center;
}

.start-button {
  margin: 0 auto;
  width: 50%;
}

.start-button{
	position: absolute;
  top: 550px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  box-sizing: border-box;
  font-size: 19px;

  display: flex;
  justify-content: center;
  align-items: center;
	text-align: center;
}

.roomName {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%); /* 水平に完全に中央揃え */
  white-space: nowrap; /* テキストを一行にする */
  font-size: 2rem; /* フォントサイズを大きく設定 */
  font-weight: bold; /* フォントを太くする */
}

