.spinner-container {
  display: flex;
  justify-content: center;  /* 水平方向に中央揃え */
  align-items: center;      /* 垂直方向に中央揃え */
  height: 300px;            /* 画面全体の高さ */
  width: 300px;             /* 画面全体の幅 */
}

.spinner {
  color: #ffffff;
  font-size: 20px;
  margin: 0;                
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em #3498db, 2em -2em 0 0em #3498db, 3em 0 0 -1em #3498db, 2em 2em 0 -1em #3498db, 0 3em 0 -1em #3498db, -2em 2em 0 -1em #3498db, -3em 0 0 -1em #3498db, -2em -2em 0 0 #3498db;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #5faee3, 2em -2em 0 0.2em #5faee3, 3em 0 0 0 #5faee3, 2em 2em 0 -1em #5faee3, 0 3em 0 -1em #5faee3, -2em 2em 0 -1em #5faee3, -3em 0 0 -1em #5faee3, -2em -2em 0 -1em #5faee3;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #87c4ed, 2em -2em 0 0 #87c4ed, 3em 0 0 0.2em #87c4ed, 2em 2em 0 0 #87c4ed, 0 3em 0 -1em #87c4ed, -2em 2em 0 -1em #87c4ed, -3em 0 0 -1em #87c4ed, -2em -2em 0 -1em #87c4ed;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #afd9f7, 2em -2em 0 -1em #afd9f7, 3em 0em 0 0 #afd9f7, 2em 2em 0 0.2em #afd9f7, 0 3em 0 0em #afd9f7, -2em 2em 0 -1em #afd9f7, -3em 0em 0 -1em #afd9f7, -2em -2em 0 -1em #afd9f7;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #d7eef9, 2em -2em 0 -1em #d7eef9, 3em 0 0 -1em #d7eef9, 2em 2em 0 0em #d7eef9, 0 3em 0 0.2em #d7eef9, -2em 2em 0 0 #d7eef9, -3em 0em 0 -1em #d7eef9, -2em -2em 0 -1em #d7eef9;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #eaf7fc, 2em -2em 0 -1em #eaf7fc, 3em 0 0 -1em #eaf7fc, 2em 2em 0 -1em #eaf7fc, 0 3em 0 0 #eaf7fc, -2em 2em 0 0.2em #eaf7fc, -3em 0 0 0 #eaf7fc, -2em -2em 0 -1em #eaf7fc;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #f3fbfe, 2em -2em 0 -1em #f3fbfe, 3em 0em 0 -1em #f3fbfe, 2em 2em 0 -1em #f3fbfe, 0 3em 0 -1em #f3fbfe, -2em 2em 0 0, -3em 0em 0 0.2em #f3fbfe, -2em -2em 0 0 #f3fbfe;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0, -3em 0em 0 0 #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}
@keyframes load4 {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em #3498db, 2em -2em 0 0em #3498db, 3em 0 0 -1em #3498db, 2em 2em 0 -1em #3498db, 0 3em 0 -1em #3498db, -2em 2em 0 -1em #3498db, -3em 0 0 -1em #3498db, -2em -2em 0 0 #3498db;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #5faee3, 2em -2em 0 0.2em #5faee3, 3em 0 0 0 #5faee3, 2em 2em 0 -1em #5faee3, 0 3em 0 -1em #5faee3, -2em 2em 0 -1em #5faee3, -3em 0 0 -1em #5faee3, -2em -2em 0 -1em #5faee3;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #87c4ed, 2em -2em 0 0 #87c4ed, 3em 0 0 0.2em #87c4ed, 2em 2em 0 0 #87c4ed, 0 3em 0 -1em #87c4ed, -2em 2em 0 -1em #87c4ed, -3em 0 0 -1em #87c4ed, -2em -2em 0 -1em #87c4ed;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #afd9f7, 2em -2em 0 -1em #afd9f7, 3em 0em 0 0 #afd9f7, 2em 2em 0 0.2em #afd9f7, 0 3em 0 0em #afd9f7, -2em 2em 0 -1em #afd9f7, -3em 0em 0 -1em #afd9f7, -2em -2em 0 -1em #afd9f7;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #d7eef9, 2em -2em 0 -1em #d7eef9, 3em 0 0 -1em #d7eef9, 2em 2em 0 0em #d7eef9, 0 3em 0 0.2em #d7eef9, -2em 2em 0 0 #d7eef9, -3em 0em 0 -1em #d7eef9, -2em -2em 0 -1em #d7eef9;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #eaf7fc, 2em -2em 0 -1em #eaf7fc, 3em 0 0 -1em #eaf7fc, 2em 2em 0 -1em #eaf7fc, 0 3em 0 0 #eaf7fc, -2em 2em 0 0.2em #eaf7fc, -3em 0 0 0 #eaf7fc, -2em -2em 0 -1em #eaf7fc;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #f3fbfe, 2em -2em 0 -1em #f3fbfe, 3em 0em 0 -1em #f3fbfe, 2em 2em 0 -1em #f3fbfe, 0 3em 0 -1em #f3fbfe, -2em 2em 0 0, -3em 0em 0 0.2em #f3fbfe, -2em -2em 0 0 #f3fbfe;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0, -3em 0em 0 0 #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}