
/* toppageのスタイル */
.toppage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 170px;
	font-size: 43px;
	font-family: "Shippori Mincho", "Georgia", serif;
	position: relative;

  background-image: url('/src/assets/image/toppage-background.jpeg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
  background-size: cover;        /* 画像を画面全体にフィットさせる */
	height: 1000px;
  width: 520px;  /* 幅を1200pxに固定 */
  margin: 0 auto; /* 中央揃え */
}

.title {
    font-size: 43px;
    font-weight: bold;
    background: linear-gradient(to bottom, #000000, #808080);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 800;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.createroom {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  box-sizing: border-box;
  font-size: 19px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link-input {
  width: 250px;
  text-align: center;
  height: 60px;
  border-radius: 0.375rem;
  font-size: 19px;
	position: absolute;
  top: 475px;
  left: 50%;
  transform: translateX(-50%);
}

.link-input::placeholder {
  font-size: 19px;
}

/* リンク送信ボタンの位置を調整 */
.submit-link {
  color: white;
  border-radius: 0.375rem; /* 角を丸く */
  height: 4rem;            /* ボタンの高さ */
  width: 4rem;             /* ボタンの幅 */
  display: flex;           /* アイコンを中央揃えにするためにフレックスボックスを使用 */
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center;     /* 垂直方向の中央揃え */
  cursor: pointer;
  position: absolute;      /* 絶対位置を指定 */
  top: 475px;              /* 上から475pxの位置に配置 */
  left: 85%;               /* 左から62%の位置に配置 */
  transform: translateX(-50%); /* 水平方向の中央揃え */

  /* アイコンのサイズを調整 */
  font-size: 1.5rem; /* アイコンのサイズを調整 */
}

/* 使い方ボタンの位置を調整 */
.rule {
	position: absolute; /* 親要素内で絶対位置を指定 */
	top: 570px;         /* 上から600px */
	left: 50%;          /* 左から50%（中央揃え） */
	transform: translateX(-50%); /* 中央に寄せるための変換 */
}






.modal-center {
    display: flex;
    justify-content: center;
    margin-top: 2rem; /* mt-8 */
}

.modal-button {
    display: inline-flex;
    justify-content: center;
    background-color: #16A34A; /* bg-green-600 */
    padding: 0.5rem 1rem; /* px-4 py-2 */
    font-size: 0.875rem; /* text-sm */
    font-weight: 600; /* font-semibold */
    color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
    border-radius: 0.375rem; /* rounded-md */
    transition: background-color 0.2s;
}

.modal-button:hover {
    background-color: #15803D; /* hover:bg-green-500 */
}

.modal-button:focus {
    outline: none; /* focus:outline-none */
}

