/* WaitRoomのスタイル */
.waitroom {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 170px;
	font-size: 43px;
	font-family: "Shippori Mincho", "Georgia", serif;
	position: relative;

	background-image: url('/src/assets/background.jpeg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
  background-size: cover;        /* 画像を画面全体にフィットさせる */
	height: 1000px;
  width: 520px;  /* 幅を1200pxに固定 */
  margin: 0 auto; /* 中央揃え */
}

.spinner-container {
	margin-top: -150px; /* スピナーを上に移動させる */
}