/* ボタンの共通スタイル */
.button-orange {
    background: linear-gradient(to bottom, #ffa438, #ffd39f); /* 上から下へのグラデーション */
    color: black; /* 文字色を黒にする */
    padding: 15px 30px;
    font-size: 16px;
    border: none; /* 白いふちを無くす */
    border-radius: 8px;
    cursor: pointer;
}

/* ホバー時のスタイル */
.button-orange:hover:not(:disabled) {
    background: linear-gradient(to bottom, #ffa438, #ffd39f);
    color: black;
    border: none;
}

/* アクティブ時のスタイル */
.button-orange:active:not(:disabled) {
    transform: translateY(4px);
}

/* 非活性状態のスタイル */
.button-orange:disabled {
    background: linear-gradient(to bottom, #cccccc, #eeeeee); /* グレーのグラデーション */
    color: #888888; /* テキストを薄いグレーに */
    cursor: not-allowed; /* カーソルを変更 */
    opacity: 0.7; /* 透明度を下げる */
    transform: none; /* アクティブ時の変形をキャンセル */
}

/* 非活性状態でのホバー時のスタイル */
.button-orange:disabled:hover {
    background: linear-gradient(to bottom, #cccccc, #eeeeee);
    color: #888888;
    border: none;
}