.image-upload-container {
    height: 100%;
    width: 100%;
    background-color: rgb(209, 209, 209);
}

.drop-area{
    height: 100%;
    width: 100%;
    margin: 0;
}

.gray {
    background-color: #c2c2c2ca;
    mix-blend-mode: screen;
}

input{
    height: 100%;
    width: 100%;
}

.plus-icon {
    height: 30%;
    aspect-ratio: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.file-preview-container {
    display: flex;
    align-items: center;
    overflow: auto;
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: relative;
}

.file-preview {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: grab; 
    position: absolute;
    top: 0;
    left: 0;
}

.file-preview:active {
    cursor: grabbing; /* クリック中のカーソル */
}

.frameInImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
