/* 背景の設定 */
* {
  margin: 0;
  padding: 0;
  font-family: "Shippori Mincho";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #ffffff;
}

body {
  background-image: url("/src/assets/image/background.jpeg");
  height: 100vh;
  width: 414px;
  margin: 0 auto;
  background-size: cover;
}

h2 {
  text-align: center;
  color: #ffffff;
  padding-top: 35px;
	text-shadow: 2px 2px 4px #020031;
}

/*入力フォーム共通設定*/
.input-field {
  background: linear-gradient(
    to right,
    #87ceeb,
    #ffffff
  ); /* bg-gradient-to-r from-sky-300 to-white */
  color: #0b4180; /* text-[#0B4180] */
}

/*form共通設定*/
.form {
  display: flex; /* フレックスボックスを使用して横並びに */
  align-items: center; /* 垂直方向の中央揃え */
  justify-content: center; /* 水平方向の中央揃え */
  gap: 1rem; /* 入力フィールドとボタンの間に余白を入れる */
}

.shippori-mincho-regular {
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.shippori-mincho-medium {
  font-family: "Shippori Mincho", serif;
  font-weight: 500;
  font-style: normal;
}

.shippori-mincho-semibold {
  font-family: "Shippori Mincho", serif;
  font-weight: 600;
  font-style: normal;
}

.shippori-mincho-bold {
  font-family: "Shippori Mincho", serif;
  font-weight: 700;
  font-style: normal;
}

.shippori-mincho-extrabold {
  font-family: "Shippori Mincho", serif;
  font-weight: 800;
  font-style: normal;
}
