/* 背景の設定 */
body {
  /* background-image: url('/src/assets/background-lantern.jpeg'); */
	background-size: contain;
	background-position: center;
  background-size: cover;        /* 画像を画面全体にフィットさせる */
	background-repeat: no-repeat;
	height: 1000px;
  width: 520px;  /* 幅を1200pxに固定 */
  margin: 0 auto; /* 中央揃え */
}  

/*入力フォーム共通設定*/
.input-field {
    background: linear-gradient(to right, #87CEEB, #ffffff); /* bg-gradient-to-r from-sky-300 to-white */
    color: #0B4180; /* text-[#0B4180] */
}

/*form共通設定*/
.form {
	display: flex;            /* フレックスボックスを使用して横並びに */
  align-items: center;       /* 垂直方向の中央揃え */
  justify-content: center;   /* 水平方向の中央揃え */
  gap: 1rem;                /* 入力フィールドとボタンの間に余白を入れる */
}

.shippori-mincho-regular {
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.shippori-mincho-medium {
  font-family: "Shippori Mincho", serif;
  font-weight: 500;
  font-style: normal;
}

.shippori-mincho-semibold {
  font-family: "Shippori Mincho", serif;
  font-weight: 600;
  font-style: normal;
}

.shippori-mincho-bold {
  font-family: "Shippori Mincho", serif;
  font-weight: 700;
  font-style: normal;
}

.shippori-mincho-extrabold {
  font-family: "Shippori Mincho", serif;
  font-weight: 800;
  font-style: normal;
}





