/* 背景の設定 */
body {
	background-size: contain; /* 画像全体が表示される */
	background-position: center; /* 画像を中央に表示 */
	background-repeat: no-repeat;
	height: 100vh;
}

/*入力フォーム共通設定*/
.input-field {
    background: linear-gradient(to right, #87CEEB, #ffffff); /* bg-gradient-to-r from-sky-300 to-white */
    color: #0B4180; /* text-[#0B4180] */
}

/*form共通設定*/
.form {
	display: flex;            /* フレックスボックスを使用して横並びに */
  align-items: center;       /* 垂直方向の中央揃え */
  justify-content: center;   /* 水平方向の中央揃え */
  gap: 1rem;                /* 入力フィールドとボタンの間に余白を入れる */
}



.shippori-mincho-regular {
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.shippori-mincho-medium {
  font-family: "Shippori Mincho", serif;
  font-weight: 500;
  font-style: normal;
}

.shippori-mincho-semibold {
  font-family: "Shippori Mincho", serif;
  font-weight: 600;
  font-style: normal;
}

.shippori-mincho-bold {
  font-family: "Shippori Mincho", serif;
  font-weight: 700;
  font-style: normal;
}

.shippori-mincho-extrabold {
  font-family: "Shippori Mincho", serif;
  font-weight: 800;
  font-style: normal;
}





